<!--La Tienda donde iremos mostrando los productos-->
{% extends 'tienda/base.html' %}
{% load static %}
{% block content %}

<!-- Recorremos los productos de la base de datos, mostrando sus atributos-->
	<div id="productoos"class="row">
		{% for product in products %}
		<div class="col-lg-4" >
			<img class="thumbnail" src="{{product.imageURL}}">
			<div class="box-element product">
				<h6><strong>{{product.name}}</strong></h6>
				<hr>

				<button data-product="{{product.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Añadir</button>
				
				<a class="btn btn-outline-success" href="{% url 'cartera' %}">Carrito</a>
				<h4 style="display: inline-block;"><strong>{{product.price}}€</strong></h4>

			</div>
		</div>
		{% endfor %}
	</div>

{% endblock content %}