
body{
	background-color: hsl(195, 36%, 96%);
}

h1,h2,h3,h4,h5,h6{
	color:hsl(0, 68%, 4%);
}
a {
	color: rgb(255, 252, 252);
	text-decoration: none;
}
a:hover {
	color: rgb(57, 244, 10);
	text-decoration: none;
}
.box-element{
	box-shadow:hsl(164, 46%, 89%) 0 0 16px;
	background-color: hsl(163, 67%, 92%) 0 0 16px;
	border-radius: 4px;
	padding: 10px;
	
}

.thumbnail{
	width: 270px;
	min-height: 200px;
	height: auto;
	max-height: 250px;
	-webkit-box-shadow: -1px -3px 5px -2px rgb(165, 216, 244);
    -moz-box-shadow: -1px -3px 5px -2px rgb(165, 216, 244);
    box-shadow: -1px -3px 5px -2px rgb(165, 216, 244);
}
.col-lg-4{
	max-width: 300px;
}

.product{
	border-radius: 0 0 4px 4px;
	max-width: 300px;
}

/*.bg-dark{
	background-color: #c3e1c1!important;
}
*/

/*#cart-icon{
	width:60px;
	display: inline-block;
	margin-left: 15px;
	margin-top: 20px;
}
*/

#cart-total{
	display: block;
	text-align: center;
	color:rgb(248, 209, 12);
	background-color: rgb(234, 58, 208);
	width: 20px;
	height: 25px;
	border-radius: 50%;
	font-size: 14px;
}

.col-lg-4, .col-lg-6, .col-lg-8, .col-lg-12{
	margin-top: 10px;
}

.btn{
	border-radius: 0;
}

.row-image{
	width: 80px;
}

.form-field{
	width:250px;
	display: inline-block;
	padding: 5px;
}

.cart-row{
	display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #e1b505;

}
#base{
	display: flex;justify-content: center;
}
#contenido{
	display: flex;justify-content: center;
}

.quantity{
	display: inline-block;
	font-weight: 700;
	padding-right:10px;
	

}

.chg-quantity{
	width: 8px;
	cursor: pointer;
	display: block;
	margin-top: px;
	transition:.1s;
}

.chg-quantity:hover{
	opacity: .6;
}


.hidden{
	display: none!important;
}

.selector-for-some-widget {
	box-sizing: content-box;
}
.botonpaypal{
	background-color: #2904f9; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
/*.botonlogin{
	background-color: #f36868; 
    border: none;
    color: rgb(16, 15, 15);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 25px;
}
*/
.table{
	display: flex;
  	justify-content: center;
}
#navegacion{
	display: flex;
  	justify-content: center;
}
#veri{
	display: flex;
  	justify-content: center;
	font-size: xx-large;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	color: #e1b505;
}
#productoos{
	display: flex;
  	justify-content: center;
}
#fleXraro{
	justify-content: center;
}